<div class="main">
  <aside class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <div class="logo-title"><h4>AppsTergo</h4></div>
      </div>
      <i id="btnMenu" class="icon-menu1"></i>
    </div>

    <ul class="menu">
      <li class="item-menu">
        <a  class="item-menu-label">
          <i class="icon-dashboard"></i>
          <span class="item-menu-title">Pincipal</span>
        </a>
        <span class="tooltip">Pincipal</span>
      </li>
      <li class="item-menu">
        <a  class="item-menu-label">
          <i class="icon-store"></i>
          <span class="item-menu-title">Tienda</span>
        </a>
        <span class="tooltip">Tienda</span>
      </li>
      <li class="item-menu">
        <a  class="item-menu-label">
          <i class="icon-facturas"></i>
          <span class="item-menu-title">Facturas</span>
        </a>
        <span class="tooltip">Facturas</span>
      </li>
      <li class="item-menu">
        <a  class="item-menu-label">
          <i class="icon-chat"></i>
          <span class="item-menu-title">Chat</span>
        </a>
        <span class="tooltip">Chat</span>
      </li>
      <li class="item-menu" >
        <a  class="item-menu-label">
          <i class="icon-usuarios"></i>
          <span class="item-menu-title">Agentes</span>
        </a>
        <span class="tooltip">Agentes</span>
      </li>
    </ul>
    <div class="profile-content">
      <div class="profile">
        <div class="profile-details">
          <img src="../assets/image/photo.jpg" alt="" />
          <div class="name-detail">
            <div class="name">Rodrigo Soto</div>
            <div class="puesto">Developer Full Stack</div>
          </div>
        </div>
        <i id="btnLogOut" class="icon-logout"></i>
      </div>
    </div>
  </aside>
  <section class="main-content">
    <div class="text">
      <h4>Este es un tesxto de prueba del sector</h4>
      <router-outlet></router-outlet>
    </div>
  </section>
  <aside class="settings-panel">
    <div class="label-setings">
      <a>
        <i class="icon-engrane"></i>
      </a>
    </div>
    <h4>Configuraciones</h4>
  </aside>
    
    
</div>
